<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="application.properties">  <!--ссылка на файл со свойствами(ссылка на СУБД, логин, пароль и тп.)-->
     </properties>

    <environments default="development"><!--в данном блоке настраиваются подключения к БД-->
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${spring.datasource.driver-class-name}"/>
                <property name="url" value="${spring.datasource.url}"/>
                <property name="username" value="${spring.datasource.username}"/>
                <property name="password" value="${spring.datasource.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers><!--в данном блоке необходимо описать маперы, которые используются в проекте-->
        <mapper resource="mapper/EntityMapper.xml"/>
        <mapper resource="mapper/AttributeMapper.xml"/>
        <mapper resource="mapper/ValueMapper.xml"/>
        <mapper resource="mapper/EntityListMapper.xml"/>
        <mapper resource="mapper/BlogTextMapper.xml"/>
        <mapper resource="mapper/ProductMapper.xml"/>
        <mapper resource="mapper/CartItemsMapper.xml"/>
        <mapper resource="mapper/AlbumMapper.xml"/>
        <mapper resource="mapper/OrderMapper.xml"/>
        <mapper resource="mapper/ImageMapper.xml"/>
    </mappers>
</configuration>