<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Блог</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <link href="../static/css/main.css" th:href="@{/css/no-fixedNav.css}" rel="stylesheet"/>
</head>
<body>
    <header th:insert="blocks/header :: header">
    </header>

    <div class="container mt-5">
            <h1>Блог
                <a class = "btn btn-primary" sec:authorize="hasAuthority('ROLE_ADMIN')"  href="/blog/add" >Добавить статью</a>
            </h1>

            <div th:each="el : ${posts}" class="alert alert-info mt-2">
                <h3 th:text="${el.title}"/>
                <p th:text="${el.anons}"/>
                <a th:href="'blog/' + ${el.id}" class="btn btn-warning">Читать полностью</a>
            </div>
    </div>



</body>
</html>