<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.0/css/bootstrap.min.css} "/>
    <link href="../static/css/main.css" th:href="@{/css/no-fixedNav.css}" rel="stylesheet"/>
</head>
<body>
<header th:insert="blocks/header :: header">
</header>

<div class="container mb-5">
    <div class="cart_items">
        <h2>Заказ</h2>
        <hr>
        <table class="table" style="color: white">
            <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Дата</th>
                <th scope="col">Стоимость</th>
                <th scope="col">Статус</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="el:${order}">
                <th scope="row" th:text="${el.id}"></th>
                <td th:text="${el.order_dt}"></td>
                <td th:text="${el.total}"></td>
                <td th:text="${el.status}"></td>
            </tr>
            </tbody>
        </table>
        <hr>
        <h2>Детали заказа</h2>
        <table class="table" style="color: white">
            <thead>
            <tr>
                <th scope="col">Имя Товара</th>
                <th scope="col">Стоимость</th>
                <th scope="col">Кол-во</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="el:${orderItems}">
                <td th:text="${el.name}"></td>
                <td th:text="${el.price}"></td>
                <td th:text="${el.count}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</div>

<!-- <footer th:insert="blocks/footer :: footer">
</footer> -->


<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/getcart.js}"></script>
<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.1.0/js/bootstrap.min.js}"></script>
</body>
</html>