<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.photographer.app.mapper.AlbumMapper">

    <!--название метода-->
    <select
            id="getAlbums"
            resultType="com.photographer.app.modelsNew.Album">
        select * from albums_tree
    </select>



</mapper>
